[Desktop Entry]
Type=Application
Name=Electrum Bitcoin Wallet Wrapper
GenericName=Bitcoin Wallet
Comment=Lightweight Bitcoin Client
Icon=/usr/local/share/icons/electrum.png
Exec=/opt/electrum/wrapper/electrum-offline-wrapper
NoDisplay=false
Categories=Finance;Network;
MimeType=x-scheme-handler/bitcoin;
StartupNotify=false
Terminal=false
