[Desktop Entry]
Type=Application
Name=Setup LUKS for Electrum data directory
GenericName=Electrum Wallet Utility
Comment=Electrum wallet utility to set up LUKS filesystem for Electrum data
Icon=/usr/share/icons/Tango/32x32/categories/preferences-system.png
Exec=/opt/electrum/wrapper/luks-setup-wallet-dir
NoDisplay=false
Categories=Finance;Network;
MimeType=x-scheme-handler/bitcoin;
StartupNotify=false
Terminal=false
